<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Adrian Packel</string>
	<key>CFBundleDisplayName</key>
	<string>Regexp Search</string>
	<key>CFBundleIdentifier</key>
	<string>com.adrianpackel.regexpsearch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>regexp_toolbar.html</string>
				<key>Identifier</key>
				<string>regexpToolbar</string>
				<key>Label</key>
				<string>Regexp Toolbar</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>regexp_injected.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>regexp_match.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Allows searching webpages using regular expressions.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://adrianpackel.com/software/SafariExtensions.plist</string>
	<key>Website</key>
	<string>http://adrianpackel.com/software/regexpsearch</string>
</dict>
</plist>
